spring:
    application:
        name: keupang-gateway

    cloud:
        gateway:
            globalcors:
                cors-configurations:
                    '[/**]':
                        allowedOriginPatterns: "*"
                        allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                        allowedHeaders:
                            - "*"
                        allowCredentials: true

            routes:
                -   id: user
                    uri:
                        lb://user
                    predicates:
                        - Path=/api/user/**
                -   id: auth
                    uri:
                        lb://auth
                    predicates:
                        - Path=/api/auth/**
                -   id: user-swagger
                    uri:
                        lb://user
                    predicates:
                        - Path=/user/**
                -   id: auth-swagger
                    uri:
                        lb://auth
                    predicates:
                        - Path=/auth/**
                -   id: product-swagger
                    uri:
                        lb://product
                    predicates:
                        - Path=/product/**
                -   id: stock-swagger
                    uri:
                        lb://stock
                    predicates:
                        - Path=/stock/**
                -   id: review-swagger
                    uri:
                        lb://review
                    predicates:
                        - Path=/review/**
                -   id: product
                    uri:
                        lb://product
                    predicates:
                        - Path=/api/product/**
                -   id: stock
                    uri:
                        lb://stock
                    predicates:
                        - Path=/api/stock/**
                -   id: review
                    uri:
                        lb://review
                    predicates:
                        - Path=/api/review/**

            default-filters:
                - name: Retry
                  args:
                      retries: 20
                      methods: GET,POST,PUT,DELETE
                      '[backoff.firstBackoff]': 3000ms
                      '[backoff.maxBackoff]': 3000ms
                      '[backoff.factor]': 1
                      '[backoff.basedOnPreviousValue]': false
                      exceptions: java.io.IOException,java.util.concurrent.TimeoutException,org.springframework.cloud.gateway.support.NotFoundException,org.springframework.web.server.ResponseStatusException,java.net.ConnectException

            discovery:
                locator:
                    enabled: true

            httpclient:
                connect-timeout: 5000
                response-timeout: 60000

server:
    port: 8080

eureka:
    client:
        register-with-eureka: true
        fetch-registry: true
        service-url:
            defaultZone: https://admin:admin@keupang-eureka.onrender.com/eureka/

springdoc:
    swagger-ui:
        path: /swagger-ui.html
        urls:
            -   url: /user/v3/api-docs
                name: user
            -   url: /auth/v3/api-docs
                name: auth
            -   url: /product/v3/api-docs
                name: product
            -   url: /stock/v3/api-docs
                name: stock
            -   url: /review/v3/api-docs
                name: review
        enabled: true
    api-docs:
        enabled: true
logging:
    level:
        org.springframework: DEBUG