spring:
    application:
        name: keupang-gateway

    cloud:
        gateway:
            globalcors:
                cors-configurations:
                    '[/**]':
                        allowedOrigins:
                            - "http://localhost:5173"
                            - "https://www.keupang.store"
                            - "https://api.keupang.store"
                            - "https://keupang-front.vercel.app"
                        allowedMethods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                        allowedHeaders:
                            - "*"
                        allowCredentials: true

            routes:
                -   id: user
                    uri:
                        lb://user
                    predicates:
                        - Path=/api/user/**
                -   id: auth
                    uri:
                        lb://auth
                    predicates:
                        - Path=/api/auth/**
                -   id: user-swagger
                    uri:
                        lb://user
                    predicates:
                name: user
            -   url: /auth/v3/api-docs
                name: auth
        enabled: true
    api-docs:
        enabled: true
logging:
    level:
        org.springframework: DEBUG