server:
    port: ${PORT:8082}

spring:
    application:
        name: product
    profiles:
        active: dev
    config:
        import: configserver:http://${security_username}:${security_password}@config-server:9000
    datasource:
        url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${USER_DB_NAME}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        database-platform: org.hibernate.dialect.MySQLDialect
        open-in-view: false

springdoc:
    api-docs:
        path: /product/v3/api-docs
    swagger-ui:
        path: /product/swagger-ui.html

openapi:
    service:
        # API Gateway 포트
        url: https://api.keupang.store

eureka:
    client:
        fetch-registry: true
        register-with-eureka: true
        service-url:
            defaultZone: http://${security_username}:${security_password}@eureka-server:8761/eureka
    instance:
        instance-id: product-service-${spring.application.instance-id:${random.value}}
        prefer-ip-address: true
