server:
    port: ${PORT:8082}

spring:
    application:
        name: product
    profiles:
        active: dev
    config:
        import: configserver:https://keupang-config.onrender.com
    datasource:
        url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        database-platform: org.hibernate.dialect.MySQLDialect
        open-in-view: false

springdoc:
    api-docs:
        path: /product/v3/api-docs
    swagger-ui:
        path: /product/swagger-ui.html

openapi:
    service:
        # API Gateway 포트
        url: https://keupang-gateway.onrender.com

eureka:
    client:
        fetch-registry: true
        register-with-eureka: true
        service-url:
            defaultZone: https://admin:admin@keupang-eureka.onrender.com/eureka/
    instance:
        instance-id: product-service-${spring.application.instance-id:${random.value}}
        prefer-ip-address: true

aws:
    s3:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
        bucket: ${aws.s3.bucket}
        region: ${aws.s3.region}
